.hero {
  background-image: url('/images/BackgroundImage.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.heroContent {
  color: #fff;
  padding: 20px;
  max-width: 800px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.ctaButton {
  margin-top: 20px;
  width: 20%;
  background-color: #2980b9;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
}

.ctaButton:hover {
  background-color: #1c5980;
}
